# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# AWS
.aws/
*.pem
credentials.json

# Project specific
*.jpg
*.png
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp

# Logs
*.log
logs/ 

# Apple
.DS_Store

# PDP images
PDP/

# templates
templates/

# old files
old/